<% provide(:title,"Home" ) %>
<h1>ほーむ</h1>
<p>
  ふらすたった～はフラスタ企画をお手軽に立案・管理できるWEBサービスです。
</p>
<p>
  まずはどんなフラスタ企画があがっているか、以下の一覧を見てみましょう。<br/>
  フラスタ企画を眺めるだけなら、登録などは不要です。<br/>
  <%= link_to 'フラスタ企画一覧', '/plans/' %>  
</p>
<p>
  面白そうなフラスタ企画があれば「興味あり」で企画主を応援しましょう。<br/>
  「興味あり」を押すにはTwitter認証をする必要があります。<br/>
  <%= link_to 'ここをクリック',  '/auth/twitter' %>するだけです。
</p>