<div class="row">
  <h1>Plans#show</h1>
  <div class="col-md-6 col-md-offset-3">
    <div class="row">plan_id:<%= @plan.id %>,</div>
    <div class="row">plan:<%= @plan.content %>,</div>
    <div class="row">planner:<%= @plan.user.nickname %>,</div>
    <div class="row">date:<%= @plan.event_date %></div>
  </div>
</div>